ags
autostart
btop
cat_installer
cava
dconf
eog
evolution
fastfetch
GIMP
gnome-session
GNOME-xdg-terminals.list
go
goa-1.0
gtk-3.0
gtk-4.0
htop
hypr
ibus
kitty
kitty-backup-back-up_1202_1744
Kvantum
libreoffice
list_ls
mainline
matplotlib
menus
mimeapps.list
monitors.xml
monitors.xml~
mpv
nautilus
nomacs
nvim.lazyvimBAK
nvtop
nwg-displays
nwg-look
pavucontrol.ini
pulse
qt5ct
qt6ct
QtProject.conf
quickshell
README.md
rofi
shotwell
swappy
swaync
systemd
Thunar
tiling-assistant
ubuntu-xdg-terminals.list
update-notifier
user-dirs.dirs
user-dirs.locale
vlc
wallust
waybar
waybar.bak
wlogout
xdg-desktop-portals
xdg-terminals.list
xfce4
yad.conf
yelp
zoom.conf
zoomus.conf
.gsd-keyboard.settings-ported
enchant/
DisplayCAL/ 
Mousepad/
