 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #899194;
active-foreground: #F4F2F3;
normal-background: #000001;
normal-foreground: #F4F2F3;
urgent-background: #899194;
urgent-foreground: #F4F2F3;

alternate-active-background: #3A3E42;
alternate-active-foreground: #F4F2F3;
alternate-normal-background: #000001;
alternate-normal-foreground: #F4F2F3;
alternate-urgent-background: #000001;
alternate-urgent-foreground: #F4F2F3;

selected-active-background: #899194;
selected-active-foreground: #F4F2F3;
selected-normal-background: #899194;
selected-normal-foreground: #F4F2F3;
selected-urgent-background: #899194;
selected-urgent-foreground: #F4F2F3;

background-color: #000001;
background: rgba(0,0,0,0.7);
foreground: #F4F2F3;
border-color: #899194;

color0: #000001;
color1: #27292C;
color2: #272A2D;
color3: #2B2E31;
color4: #676D6F;
color5: #676D6F;
color6: #A8A4A7;
color7: #E7E5E6;
color8: #A2A0A1;
color9: #34373B;
color10: #34373B;
color11: #3A3E42;
color12: #899194;
color13: #899194;
color14: #E0DBDE;
color15: #E7E5E6;


}

