 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #C08A63;
active-foreground: #FAEDD4;
normal-background: #2D2C2C;
normal-foreground: #FAEDD4;
urgent-background: #ACB1B8;
urgent-foreground: #FAEDD4;

alternate-active-background: #765C55;
alternate-active-foreground: #FAEDD4;
alternate-normal-background: #2D2C2C;
alternate-normal-foreground: #FAEDD4;
alternate-urgent-background: #2D2C2C;
alternate-urgent-foreground: #FAEDD4;

selected-active-background: #ACB1B8;
selected-active-foreground: #FAEDD4;
selected-normal-background: #ACB1B8;
selected-normal-foreground: #FAEDD4;
selected-urgent-background: #C08A63;
selected-urgent-foreground: #FAEDD4;

background-color: #2D2C2C;
background: rgba(0,0,0,0.7);
foreground: #FAEDD4;
border-color: #C08A63;

color0: #525151;
color1: #232022;
color2: #55433E;
color3: #584540;
color4: #90684A;
color5: #81858A;
color6: #B59963;
color7: #F0DDB9;
color8: #A89B82;
color9: #2F2B2D;
color10: #725953;
color11: #765C55;
color12: #C08A63;
color13: #ACB1B8;
color14: #F1CC84;
color15: #F0DDB9;


}

